<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg2.webp') }}">
   
  
    <!--header area start-->
    <header class="header_section header_transparent sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_header d-flex justify-content-between align-items-center">
                        <div class="header_logo">
                            <a class="sticky_none" href="{{ url_for('BLP_auth.login') }}"><img aria-label="logo" width="215" height="79" src="{{ url_for('static', filename='img/logo/logo.webp') }}" alt=""></a>
                        </div>
                        <!--main menu end-->
                        <div class="header_right_sidebar d-flex align-items-center">
                            <div class="sing_up_btn">
                                <a class="btn btn-link" href="{{ url_for('BLP_auth.registration') }}">SIGN UP <img width="15" height="15" src="{{ url_for('static', filename='img/icon/arrrow-icon2.webp') }}" alt=""> </a>
                            </div>
                            <div class="canvas_open">
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="icofont-navigation-menu"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg" data-bgimg="{{ url_for('static', filename='img/bg/breadcrumbs-bg.webp') }}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->
    <!-- page wrapper start -->
    <div class="page_wrapper">
    
        <!-- contact section start -->
        <section class="contact_page_section mb-140">
            <div class="container">
                <div class="row justify-content-between align-items-center mb-n50">
                    <div class="col-lg-5 col-md-8 col-12 mx-auto mb-50">
                        <form method="POST" action="{{ url_for('BLP_auth.login') }}">
                        <div class="form_input">
                            <input name="login_email" placeholder="Email" type="email">
                        </div>
                        <div class="form_input">
                            <input name="login_password" placeholder="Password" type="password">
                        </div>
                        <div class="form_input_btn text-center mb-40">
                            <button type="submit" class="btn btn-link">Login<img width="20" height="20" src="{{ url_for('static', filename='img/icon/arrrow-icon.webp') }}" alt=""></button>
                        </div>
                        <p class="text-center">Don't have any account, <a href="{{ url_for("BLP_auth.registration") }}">Signup here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact section end -->

    </div>
    <!-- page wrapper end -->

    <!-- Footer -->
    {% include 'includes/footer_page.html' %}
   
<!-- JS -->
{% include 'includes/JS_src.html' %}



</body>

</html>