<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="assets/img/bg/body-bg2.webp">
   
  
    <!--header area start-->
    <header class="header_section header_transparent sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_header d-flex justify-content-between align-items-center">
                        <div class="header_logo">
                            <a class="sticky_none" href="index.html"><img aria-label="logo" width="215" height="79" src="assets/img/logo/logo.webp" alt=""></a>
                        </div>
                        <!--main menu start-->
                        <div class="main_menu d-none d-lg-block"> 
                            <nav>  
                                <ul class="d-flex">
                                    <li><a href="index.html">Home</a></li> 
                                    <li><a href="match.html">Match</a>
                                        <ul class="sub_menu">
                                            <li><a href="match.html">Match Page</a></li>
                                            <li><a href="match-details.html">Match Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="sub_menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="all-game.html">All Game</a></li>
                                            <li><a href="game-details.html">Game Details</a></li>
                                            <li><a href="faq.html">Faq Page</a></li>
                                            <li><a href="players.html">Players</a></li>
                                            <li><a href="player-details.html">Player Details</a></li>
                                            <li><a href="registration.html">Sign Up</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-left-sidebar.html">blog</a>
                                        <ul class="sub_menu">
                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
                                             <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                                            <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                            <li><a href="blog-grid-without-sidebar.html">Blog Grid Without Sidebar</a></li>
                                            <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                            <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>  
                            </nav>
                        </div>
                        <!--main menu end-->
                        <div class="header_right_sidebar d-flex align-items-center">
                            <div class="sing_up_btn">
                                <a class="btn btn-link" href="registration.html">SIGN UP <img width="15" height="15" src="assets/img/icon/arrrow-icon2.webp" alt=""> </a>
                            </div>
                            <div class="canvas_open">
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="icofont-navigation-menu"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->

    <!--offcanvas menu area start-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header justify-content-end">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas_main_menu">
                <li class="menu-item-has-children active">
                    <a href="index.html">Home</a>
                </li>
                <li class="menu-item-has-children"><a href="#">Match</a>
                    <ul class="sub-menu">
                        <li><a href="match.html">Match Page</a></li>
                        <li><a href="match-details.html">Match Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="all-game.html">All Game</a></li>
                        <li><a href="game-details.html">Game Details</a></li>
                        <li><a href="faq.html">Faq Page</a></li>
                        <li><a href="players.html">Players</a></li>
                        <li><a href="player-details.html">Player Details</a></li>
                                            <li><a href="registration.html">Sign Up</a></li>
                                            <li><a href="login.html">Login</a></li>
                        <li><a href="404.html">Error 404</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
                            <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                            <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                        <li><a href="blog-grid-without-sidebar.html">Blog Grid Without Sidebar</a></li>
                        <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                        <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!--offcanvas menu area end-->

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg mb-140" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>signup</h1>
                        <ul class="d-flex justify-content-center">
                            <li><a href="index.html">Home </a></li>
                            <li> <span>//</span></li>
                            <li>  PAGES</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->
    <!-- page wrapper start -->
    <div class="page_wrapper">
    
        <!-- contact section start -->
        <section class="contact_page_section mb-140">
            <div class="container">
                <div class="row justify-content-between align-items-center mb-n50">
                    <div class="col-lg-6 col-md-8 col-12 mx-auto mb-50">
                        <img width="550" height="550" src="assets/img/others/about-thumb.webp" alt="">
                    </div>
                    <div class="col-lg-5 col-md-8 col-12 mx-auto mb-50">
                        <div class="section_title text-center mb-60">
                            <h2>Signup</h2>
                        </div>
                        <div class="form_input">
                            <input name="signup_name" placeholder="Name" type="text">
                        </div>
                        <div class="form_input">
                            <input name="signup_email" placeholder="Email" type="email">
                        </div>
                        <div class="form_input">
                            <input name="signup_password" placeholder="Password" type="password">
                        </div>
                        <div class="form_input">
                            <input name="signup_password" placeholder="Retype Password" type="password">
                        </div>

                        <div class="form_input_btn text-center mb-40">
                            <button type="submit" class="btn btn-link">Signup here <img width="20" height="20" src="assets/img/icon/arrrow-icon.webp" alt=""></button>
                        </div>
                        <p class="text-center">Already have account,  <a href="login.html">Login here</a></p>

                    </div>
                </div>
            </div>
        </section>
        <!-- contact section end -->

    </div>
    <!-- page wrapper end -->

    <!-- Footer -->
    {% include 'includes/footer_page.html' %}
   
<!-- JS -->
{% include 'includes/JS_src.html' %}



</body>

</html>