<!--footer area start-->
    <footer class="footer_widgets">
        <div class="main_footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="main_footer_inner d-flex">
                            <div class="footer_widget_list">
                                <div class="footer_logo">
                                    <a href="#"><img aria-label="logo" width="215" height="79" src="{{ url_for('static', filename='img/logo/logo.webp') }}" alt=""></a>
                                </div>
                                <div class="footer_contact_desc">
                                    <p>Your best monsters game ! Get new monsters and battle your friends !</p>
                                </div>
                                <div class="footer_social">
                                    <ul class="d-flex">
                                        <li><a aria-label="facebook" class="facebook" href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a aria-label="dribble" class="dribbble" href="#"><i class="icofont-dribbble"></i></a></li>
                                        <li><a aria-label="youtube" class="youtube" href="#"><i class="icofont-youtube-play"></i></a></li>
                                        <li><a aria-label="twitter" class="twitter" href="#"><i class="icofont-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_widget_list contact">
                                <h3>Contact</h3>
                                <div class="footer_contact_info">
                                    <div class="footer_contact_info_list">
                                        <span>Location:</span>
                                        <p>France</p>
                                    </div>
                                    <div class="footer_contact_info_list">
                                        <span>email</span>
                                        <p><a href="#">antoninlefevre45@icloud.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_widget_list footer_list_menu">
                                <h3>Content</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="{{url_for('BLP_general.about')}}"> Copywriting</a></li>
                                        <li><a href="{{url_for('BLP_general.about')}}">Social Media</a></li>
                                        <li><a href="{{url_for('BLP_general.about')}}">Interactive Media</a></li>
                                        <li><a href="{{url_for('BLP_general.about')}}">Motion Design</a></li>
                                        <li><a href="{{url_for('BLP_general.about')}}">Illustration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_bottom_inner d-flex justify-content-between">
                            <div class="copyright_right">
                                <p> © 2023  BONX  Made with  <i class="icofont-heart"></i>  by Antonin</p>
                            </div>
                            <div class="footer_bottom_link_menu">
                                <ul class="d-flex">
                                    <li><a href="{{url_for('BLP_general.about')}}">Terms & Condition  </a></li>
                                    <li><a href="{{url_for('BLP_general.about')}}">Privacy Policy  </a></li>
                                </ul>
                            </div>

                            <div class="scroll__top_icon">
                                <a id="scroll-top" href="#"><img aria-label="scroll-top" width="46" height="40" src="{{ url_for('static', filename='img/icon/scroll-top.webp') }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->