<!-- JS
============================================ -->
<!--modernizr min js here-->
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-3.7.1.min.js') }}"></script>

<!-- Vendor JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-migrate-3.3.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/popper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nice-select.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-waypoints.js') }}"></script>

<!-- Main JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
