<!--header area start-->
<header class="header_section header_transparent sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_header d-flex justify-content-between align-items-center">
                    <div class="header_logo">
                        <a class="sticky_none" href="{{ url_for('BLP_general.home') }}"><img aria-label="logo" width="215" height="79" src="{{ url_for('static', filename='img/logo/logo.webp') }}" alt=""></a>
                    </div>
                    <!--main menu start-->
                    <div class="main_menu d-none d-lg-block"> 
                        <nav>  
                            <ul class="d-flex">
                                <li><a href="{{ url_for('BLP_general.home') }}">Home</a></li>
                                <li><a href="match.html">Match</a>
                                    <ul class="sub_menu">
                                        <li><a href="match.html">Match Page</a></li>
                                        <li><a href="match-details.html">Match Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub_menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="all-game.html">All Game</a></li>
                                        <li><a href="game-details.html">Game Details</a></li>
                                        <li><a href="faq.html">Faq Page</a></li>
                                        <li><a href="players.html">Players</a></li>
                                        <li><a href="player-details.html">Player Details</a></li>
                                        <li><a href="registration.html">Sign Up</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-left-sidebar.html">blog</a>
                                    <ul class="sub_menu">
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
                                         <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                                        <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                        <li><a href="blog-grid-without-sidebar.html">Blog Grid Without Sidebar</a></li>
                                        <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                        <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="{{ url_for('BLP_general.profile') }}">Profil</a></li>
                            </ul>  
                        </nav>
                    </div>
                    <!--main menu end-->
                    <div class="header_right_sidebar d-flex align-items-center">
                        <div class="sing_up_btn">
                            <a class="btn btn-link" href="{{ url_for('BLP_auth.logout') }}">LOG OUT <img width="15" height="15" src="{{ url_for('static', filename='img/icon/arrrow-icon2.webp') }}" alt=""> </a>
                        </div>
                        <div class="canvas_open">
                            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="icofont-navigation-menu"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header area end-->