<!--header area start-->
<header class="header_section header_transparent sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_header d-flex justify-content-between align-items-center">
                    <div class="header_logo">
                        <a class="sticky_none" href="{{ url_for('BLP_general.home') }}"><img aria-label="logo" width="215" height="79" src="{{ url_for('static', filename='img/logo/logo.webp') }}" alt=""></a>
                    </div>
                    <!--main menu start-->
                    <div class="main_menu d-none d-lg-block"> 
                        <nav>  
                            <ul class="d-flex">
                                <li><a href="{{ url_for('BLP_general.home') }}">Home</a></li>
                                <li><a href="{{ url_for('BLP_general.match_history') }}">Match</a></li>
                                <li><a href="monsters.html">Monsters</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="{{ url_for('BLP_general.profile') }}">Profil</a></li>
                            </ul>  
                        </nav>
                    </div>
                    <!--main menu end-->
                    <div class="header_right_sidebar d-flex align-items-center">
                        <div class="sing_up_btn">
                            <a class="btn btn-link" href="{{ url_for('BLP_auth.logout') }}">LOG OUT <img width="15" height="15" src="{{ url_for('static', filename='img/icon/arrrow-icon2.webp') }}" alt=""> </a>
                        </div>
                        <div class="canvas_open">
                            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="icofont-navigation-menu"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header area end-->