<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

    {% include 'includes/navbar.html' %}

<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-140" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text text-center">
                    <h1>about us</h1>
                    <ul class="d-flex justify-content-center">
                        <li><a href="index.html">Home </a></li>
                        <li> <span>//</span></li>
                        <li>  about us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->

<!-- page wrapper start -->
<div class="page_wrapper">

    <!-- about section start -->
    <section class="about_section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_thumb wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                        <img width="550" height="550" src="assets/img/others/about-thumb.webp" alt="">
                        <div class="about_video_btn">
                            <a class="video_popup" href="https://www.youtube.com/watch?v=eS9Qm4AOOBY">
                                <i class="icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_sidebar wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                        <div class="about_title">
                            <h5>ABOUT BONX STUDIO</h5>
                            <h2>bonx is the best gaming studio for all gamer.</h2>
                        </div>
                        <div class="about_desc">
                            <p>It is a long established fact that a reader will be distracted the readable
                            content of page when looking at it layout the point using lorem Ipsum is that
                            it has a more-or-less normal distribution.</p>
                            <p>It is a long established fact that a reader will be distracted the readable
                            content of page when looking at it layout the point using lorem Ipsum is that
                            it has a more-or-less normal distribution.</p>
                        </div>
                        <div class="about_btn">
                            <a class="btn btn-link wow" href="all-game.html">Play Now <img width="20" height="20" src="assets/img/icon/arrrow-icon.webp" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!-- counterup section start -->
    <section class="counterup_section wow fadeInUp  mb-130" data-wow-delay="0.1s" data-wow-duration="1.1s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counterup_inner d-flex justify-content-center">
                        <div class="single_counterup one">
                            <div class="counterup_text">
                                <h2 class="counterup color1">8697</h2>
                                <span>TWITCH STREAMS</span>
                            </div>
                        </div>
                        <div class="single_counterup two">
                            <div class="counterup_text">
                                <h2 class="counterup color2">428</h2>
                                <span>TOTAL GAMES</span>
                            </div>
                        </div>
                        <div class="single_counterup three">
                            <div class="counterup_text">
                                <h2 class="counterup color3">5367</h2>
                                <span>YOUTUBE STREAMS</span>
                            </div>
                        </div>
                        <div class="single_counterup four">
                            <div class="counterup_text">
                                <h2 class="counterup color4">249</h2>
                                <span>PRO TEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counterup section end -->

    <!-- gaming video section start -->
    <section class="gaming_video_section wow fadeInUp mb-118" data-wow-delay="0.1s" data-wow-duration="1.1s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gaming_video_inner slick_navigation slick__activation" data-slick='{
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "arrows": true,
                        "dots": false,
                        "autoplay": false,
                        "speed": 300,
                        "infinite": true ,  
                        "responsive":[ 
                        {"breakpoint":500, "settings": { "slidesToShow": 1 } }  
                        ]                                                     
                    }'>
                        <div class="gaming_video_thumb">
                            <img width="1170" height="540" src="assets/img/bg/gaming-bg1.webp" alt="">
                            <div class="gaming_video_paly_icon">
                                <a class="video_popup" href="https://www.youtube.com/watch?v=eS9Qm4AOOBY"><img width="134" height="140" src="assets/img/others/play-btn.webp" alt=""></a>
                            </div>
                            <div class="live_streaming_text">
                                <h3>Watch Live Streaming</h3>
                            </div>
                        </div>
                        <div class="gaming_video_thumb">
                            <img width="1170" height="540" src="assets/img/bg/gaming-bg1.webp" alt="">
                            <div class="gaming_video_paly_icon">
                                <a class="video_popup" href="https://www.youtube.com/watch?v=eS9Qm4AOOBY"><img width="134" height="140" src="assets/img/others/play-btn.webp" alt=""></a>
                            </div>
                            <div class="live_streaming_text">
                                <h3>Watch Live Streaming</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gaming video section end -->

    <!-- gamer team section start -->
    <section class="gamer_team_section mb-140">
        <div class="container">
            <div class="section_title text-center wow fadeInUp mb-60" data-wow-delay="0.1s" data-wow-duration="1.1s">
                <h2>MEET GAMER TEAM</h2>
                <p>When unknown printer took type and scrambled it to make <br>
                    type specimen book centuries,</p>
            </div>
            <div class="gamer_team_inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gamer_single_team wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                            <div class="gamer_team_thumb">
                                <a href="#"><img width="357" height="424" src="assets/img/others/team1.webp" alt=""></a>
                                <div class="gamer_team_text">
                                    <h3><a href="#">Tasia Mancuso</a></h3>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gamer_single_team wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                            <div class="gamer_team_thumb">
                                <a href="#"><img width="357" height="424" src="assets/img/others/team2.webp" alt=""></a>
                                <div class="gamer_team_text">
                                    <h3><a href="#">Rosaline Emmons</a></h3>
                                    <span>Team Leader</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gamer_single_team wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">
                            <div class="gamer_team_thumb">
                                <a href="#"><img width="357" height="424" src="assets/img/others/team3.webp" alt=""></a>
                                <div class="gamer_team_text">
                                    <h3><a href="#">Wilburn Behrens</a></h3>
                                    <span>Team Member</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="join_our_team_btn text-center">
                <a class="btn btn-link" href="#">Join Our Team</a>
            </div>
        </div>
    </section>
    <!-- gamer team section end -->

     <!-- testimonial section start -->
     <section class="testimonial_section wow fadeInUp" data-bgimg="assets/img/others/testimonial-bg-fullwidth.webp" data-wow-delay="0.1s" data-wow-duration="1.1s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title mb-60">
                        <h2>What people’s say <br>
                            ABOUT <span>game studio.</span></h2>
                    </div>
                    <div class="testimonial_inner slick__activation slick_navigation" data-slick='{
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "arrows": true,
                        "dots": false,
                        "autoplay": false,
                        "speed": 300,
                        "infinite": true ,  
                        "responsive":[  
                        {"breakpoint":576, "settings": { "slidesToShow": 1 } }  
                        ]                                                     
                    }' data-bgimg="assets/img/others/testimonial-bg.webp">
                        <div class="testimonial_list d-flex align-items-center">
                            <div class="testimonial_thumb">
                                <img width="270" height="319" src="assets/img/others/testimonial-thumb.webp" alt="">
                            </div>
                            <div class="testimonial_content">
                                <div class="testimonial_desc">
                                    <p>It is a long established fact that a reader will be distracted the
                                    readable content of page when looking at it layout the point using
                                    lorem Ipsum is that it has a more-or-less normal distribution lette
                                    as opposed to using making it look like readable english,
                                    many desktop publishing packages and web page now editors.</p>
                                </div>
                                <div class="testimonial_author">
                                    <h3>Randolph Frazier</h3>
                                    <span>Top Rated Gamer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_list d-flex align-items-center">
                            <div class="testimonial_thumb">
                                <img width="270" height="319" src="assets/img/others/testimonial-thumb.webp" alt="">
                            </div>
                            <div class="testimonial_content">
                                <div class="testimonial_desc">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus quos consectetur amet blanditiis, facilis esse illo unde saepe facere dolore porro asperiores ducimus, inventore voluptate doloribus odio fugit magnam voluptatum perferendis? Sit quisquam labore adipisci doloremque! Aperiam voluptate modi quasi are nobis.</p>
                                </div>
                                <div class="testimonial_author">
                                    <h3>Roar Spring</h3>
                                    <span>Top Rated Gamer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->

    <!-- gaming update section start -->
    <section class="gaming_update_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gaming_update_inner d-flex justify-content-between align-items-center" data-bgimg="assets/img/bg/gaming-update.webp">
                        <div class="gaming_update_text">
                            <h2>Connect with us <br>
                                for gamING update.</h2>
                        </div>
                        <div class="gaming_update_btn">
                            <a class="btn btn-link" href="#">CONNECT NOW <img width="20" height="20" src="assets/img/icon/arrrow-icon.webp" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gaming update section end -->

</div>
<!-- page wrapper end -->

    <!-- Footer -->
    {% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>