<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

<header class="header_section header_transparent sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_header d-flex justify-content-between align-items-center">
                    <div class="header_logo">
                        <a class="sticky_none"><img aria-label="logo"
                                                    width="215" height="79"
                                                    src="{{ url_for('static', filename='img/logo/logo.webp') }}"
                                                    alt=""></a>
                    </div>
                    <div class="header_right_sidebar d-flex align-items-center">
                        <a class="btn btn-link" href="{{ url_for('BLP_general.battle') }}">Quit battle <img width="10"
                                                                                                            height="10"
                                                                                                            src="{{ url_for('static', filename='img/icon/arrrow-icon2.webp') }}"
                                                                                                            alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- page wrapper start -->
<div class="page_wrapper">

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg mb-10" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>Battle {{ opponent }}</h1>
                        <ul class="d-flex justify-content-center">
                            <li>Start the battle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->

    <!-- HTML code for the pop-up window to select monsters -->
    <div id="monster-popup"
         style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.9); z-index: 1; pointer-events: auto;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h2 style="text-align: center">Choose 6 Monsters</h2>
            <div id="monster-selection" style="height: 600px; overflow: auto; text-align: center">
                {% for monster in monsters %}
                    <div style="width: 25%; display: inline-block; pointer-events: auto; cursor:pointer;"
                         id="{{ monster.name }}"
                         onclick="selectMonster('{{ monster.name }}')">
                        <img src="{{ url_for('static', filename=monster.img_path) }}"
                             style="pointer-events: auto;">
                        <h4>{{ monster.name }}</h4>
                        <h5>Level {{ monster.level }}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- HTML code for the pop-up window to show the result of the battle in case you won -->
    <div id="win-popup"
         style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.95); z-index: 1; pointer-events: auto;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center">
            <h2 style="text-align: center" class="mb-25">You won !</h2>
            <p style="text-align: center"><b id="coins_rewards"></b></p>
            <div class="top" style="text-align: center">
                <a class="image">
                    <img class="object_moving" id="img_monster_rewards"
                         alt=""></a>
            </div>
            <div class="content" style="text-align: center">
                <h4 class="title"><a id="monster_name_rewards"></a>
                </h4>
                <h6 class="level-text" id="monster_rarity_rewards"></h6>
                <h6 class="level-text" id="monster_cards_rewards"></h6>
            </div>
        </div>
    </div>

    <!-- HTML code for the pop-up window to show the result of the battle in case you loose -->
    <div id="lose-popup"
         style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.95); z-index: 1; pointer-events: auto;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h2 style="text-align: center" class="mb-25">You loose !</h2>
        </div>
    </div>

    <!--match details section area start-->
    <section class="match_details_section mb-125">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="match_details_inner">
                        <div class="team_players_area">
                            <div class="team_players_list">
                                <div class="team_players_title">
                                    <h2>YOUR TEAM</h2>
                                </div>
                                <div class="team_players_inner slick__activation" id="parent_team" data-slick='{
                                        "slidesToShow": 6
                                    }'>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src=""
                                                             alt=""
                                                             class="monster-img"></a>
                                            <h4 class="monster-h4" style="text-align: center"></h4>
                                            <h5 class="monster-h5" style="text-align: center"></h5>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="MonsterBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team_players_list">
                                <div class="team_players_title">
                                    <h2>{{ opponent }}</h2>
                                </div>
                                <div class="team_players_inner slick__activation" data-slick='{
                                        "slidesToShow": 6
                                    }'>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img id="boss-img" width="170" height="170"
                                                             src="{{ url_for('static', filename=boss_info["img_path"]) }}"
                                                             alt=""></a>
                                            <div style="width: 100%; background-color: #ddd">
                                                <div class="BossBar">{{ boss_info["defense"] }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--match details section area end-->

    <!-- Phaser integration -->

    <!-- Phaser integration end -->


</div>
<!-- page wrapper end -->

<!-- JS -->
{% include 'includes/JS_src.html' %}

<script>
    // Before the page is loaded, display a popup that will ask the user to choose 6 monsters. the popu has a size
    // of almost the entire screen. The user can choose 6 monsters by clicking on them. When the user clicks on
    // the "Start" button, the popup disappears and the game starts.

    // list with the names of the chosen monsters
    monster_list = []
    // create an array with all stats of the chosen monsters
    monsters_stats_list = []

    // JavaScript code to display the pop-up window
    window.addEventListener('load', function () {
        const popup = document.getElementById('monster-popup');
        popup.style.display = 'block';
    });

    // JavaScript function to select a monster
    function selectMonster(monster) {
        // Add selected monster to a list of chosen monsters
        // Use an array to store the chosen monsters
        // remove the div with id monster
        const monsterSelection = document.getElementById('monster-selection');
        const monsterDiv = monsterSelection.querySelector(`div[id="${monster}"]`);
        monsterDiv.parentNode.removeChild(monsterDiv);
        // console.log(monster)
        monster_list.push(monster)
        if (monster_list.length === 6) {
            startGame()
        }
    }

    // JavaScript function to get the stats of a monster from url /get_monster_stats/<string:name>/ where name is the name of the monster
    // where the space are replaced by an underscore
    function getMonsterStats(name) {
        // replace the space in the name of the monster by an underscore
        name = name.replace(/ /g, '_')
        // send a request to the server to get the stats of the monster
        return fetch(`/get_monster_stats/${name}/`)
            .then(response => response.json())
            .then(data => {
                // display the stats of the monster
                return data
            })
    }

    function total_defense_deck(monster_dict) {
        let total_defense = 0
        // iter through monster_list keys and add monster_dict[key]["defense"] to total_defense
        for (let key in monster_dict) {
            total_defense += monster_dict[key]["defense"]
        }
        return total_defense
    }

    // JavaScript function to start the game
    async function startGame() {
        // Hide the pop-up window
        const popup = document.getElementById('monster-popup');
        popup.style.display = 'none';
        // get the stats of each monster
        for (let i = 0; i < monster_list.length; i++) {
            monsters_stats_list.push(await getMonsterStats(monster_list[i]))
        }
        // Récupérez les éléments img dans le HTML dont la classe est "monster-img"
        const img_elements = document.getElementsByClassName("monster-img");
        // Récupérez les éléments img dans le HTML dont la classe est "monster-h4"
        const h4_elements = document.getElementsByClassName("monster-h4");
        // Récupérez les éléments img dans le HTML dont la classe est "monster-h5"
        const h5_elements = document.getElementsByClassName("monster-h5");

        // Bouclez à travers chaque élément img et mettez à jour ses informations
        for (let i = 0; i < img_elements.length; i++) {
            const monster_data = monsters_stats_list[i];
            const imgPath = monster_data["img_path"];
            const name = monster_data["name"];
            const level = monster_data["level"];
            img_elements[i].src = "/assets" + imgPath;
            h4_elements[i].innerHTML = name;
            h5_elements[i].innerHTML = "Level " + level;
        }

        // store the stats of the monsters in dictionary with the name of the monster as key, and the boss
        let monsters_stats = {};
        for (let i = 0; i < monster_list.length; i++) {
            monsters_stats[monster_list[i]] = monsters_stats_list[i]
        }
        let monster_stats_reference = JSON.parse(JSON.stringify(monsters_stats));
        const boss_stats = {{ boss_info|tojson }};  // keys : attack, defense, img_path, level, dead_imh_path

        // display the HP bar of the boss
        let BossBar = document.getElementsByClassName("BossBar");
        BossBar[0].style.width = (boss_stats["defense"] / {{ boss_info['defense'] }}) * 100 + "%";
        BossBar[0].innerHTML = boss_stats["defense"];

        // display the HP bar of the monsters
        let MonsterBar = document.getElementsByClassName("MonsterBar");
        for (let i = 0; i < MonsterBar.length; i++) {
            MonsterBar[i].style.width = (monsters_stats[monster_list[i]]["defense"] / monster_stats_reference[monster_list[i]]["defense"]) * 100 + "%";
            MonsterBar[i].innerHTML = monsters_stats[monster_list[i]]["defense"];
        }

        // enter the while loop that ends when the game is over, i.e. when all the monsters are dead (defense <= 0)
        // or when the boss has no more life points
        await new Promise(r => setTimeout(r, 1000));
        while (boss_stats["defense"] > 0 && total_defense_deck(monsters_stats) > 0) {
            // the monsters attack the boss one by one if they are still alive
            for (let i = 0; i < monster_list.length; i++) {
                if (monsters_stats[monster_list[i]]["defense"] > 0) {
                    // the boss loses life points
                    boss_stats["defense"] = Math.max(0, boss_stats["defense"] - monsters_stats[monster_list[i]]["attack"]);
                }
            }
            // Hurt animation of the boss
            const boss_img = document.getElementById("boss-img");
            {% for img in boss_info['hurt_img_path'] %}
                boss_img.src = "{{ url_for('static', filename=img)}}";
                console.log(boss_img.src);
                await new Promise(r => setTimeout(r, 40));
            {% endfor %}
            // update the HP bar of the boss, if HP < 40% bar is orange, if HP < 20% bar is red
            let HP_percent = (boss_stats["defense"] / {{ boss_info['defense'] }}) * 100;
            BossBar[0].style.width = HP_percent + "%";
            BossBar[0].innerHTML = boss_stats["defense"];
            if (HP_percent < 40) {
                BossBar[0].style.backgroundColor = "orange";
            }
            if (HP_percent < 20) {
                BossBar[0].style.backgroundColor = "red";
            }

            // wait 1 second if boss is still alive
            if (boss_stats["defense"] > 0) {
                await new Promise(r => setTimeout(r, 1000));
            } else {
                break;
            }

            // the boss attacks 1 monster at random that is still alive
            let alive_monsters = [];
            for (let i = 0; i < monster_list.length; i++) {
                if (monsters_stats[monster_list[i]]["defense"] > 0) {
                    alive_monsters.push(monster_list[i])
                }
            }
            let random_monster = alive_monsters[Math.floor(Math.random() * alive_monsters.length)];
            monsters_stats[random_monster]["defense"] = Math.max(0, monsters_stats[random_monster]["defense"] - boss_stats["attack"]);
            // Attack animation of the boss, wait the animation to finish before updating the HP bar
            {% for img in boss_info['attack_img_path'] %}
                boss_img.src = "{{ url_for('static', filename=img)}}";
                await new Promise(r => setTimeout(r, 40));
                console.log(boss_img.src);
            {% endfor %}

            // update the HP bar of the monsters, if HP < 40% bar is orange, if HP < 20% bar is red
            for (let i = 0; i < MonsterBar.length; i++) {
                let HP_percent = (monsters_stats[monster_list[i]]["defense"] / monster_stats_reference[monster_list[i]]["defense"]) * 100;
                MonsterBar[i].style.width = HP_percent + "%";
                MonsterBar[i].innerHTML = monsters_stats[monster_list[i]]["defense"];
                if (HP_percent < 40) {
                    MonsterBar[i].style.backgroundColor = "orange";
                }
                if (HP_percent < 20) {
                    MonsterBar[i].style.backgroundColor = "red";
                }
            }
            // wait 1 second if game is not over
            if (boss_stats["defense"] > 0 && total_defense_deck(monsters_stats) > 0) {
                await new Promise(r => setTimeout(r, 2000));
            }
        }

        // change the boss image to a dead image if the boss has no more life points
        // WIN
        if (boss_stats["defense"] <= 0) {
            const boss_img = document.getElementById("boss-img");
            {% for img in boss_info['dead_img_path'] %}
                boss_img.src = "{{ url_for('static', filename=img)}}";
                await new Promise(r => setTimeout(r, 40));
            {% endfor %}
            await new Promise(r => setTimeout(r, 1000));
            // call /api/get_reward_after_win via AJAX and get the result as a JSON object
            $.ajax({
                url: "/api/get_reward_after_win",
                type: "GET",
                success: function (data) {
                    console.log("success in getting reward");
                    // display the reward in the pop-up window
                    // id = coins_rewards for coins, id = img_monster_rewards for monster image
                    // id = monster_name_rewards for monster name, id="monster_rarity_rewards" for monster rarity
                    // id="monster_cards_rewards" for monster cards
                    const coins_rewards = document.getElementById("coins_rewards");
                    const img_monster_rewards = document.getElementById("img_monster_rewards");
                    const monster_name_rewards = document.getElementById("monster_name_rewards");
                    const monster_rarity_rewards = document.getElementById("monster_rarity_rewards");
                    const monster_cards_rewards = document.getElementById("monster_cards_rewards");
                    coins_rewards.innerHTML = "+" + {{ GameConfig.BOSS_CONFIG[boss_info['rarity']]["Reward"] }} + " coins";
                    img_monster_rewards.src = data["monster"]["img_path"];
                    monster_name_rewards.innerHTML = data["monster_name"];
                    monster_rarity_rewards.innerHTML = data["monster"]["rarity"];
                    monster_cards_rewards.innerHTML = "+" + data["amount_cards"] + " cards"
                },
                error: function (data) {
                    console.log("error in getting reward");
                }
            });
            // display a pop-up window that tells the user that he has won the game
            window.scrollTo(0, 0);
            const popup = document.getElementById('win-popup');
            popup.style.display = 'block';
            // update match history by requesting /api/add_match_history_boss/<string:opponent>/y via AJAX
            $.ajax({
                url: "/api/add_match_history_boss/{{ opponent.replace(' ', '_') }}/y",
                type: "GET",
                success: function (data) {
                    console.log("success in updating match history");
                },
                error: function (data) {
                    console.log("error in updating match history");
                }
            });
        }
            // display a pop-up window that tells the user that he has lost the game
        // LOSE
        else {
            window.scrollTo(0, 0);
            const popup = document.getElementById('lose-popup');
            popup.style.display = 'block';
            // update match history by requesting /api/add_match_history_boss/<string:opponent>/n via AJAX
            $.ajax({
                url: "/api/add_match_history_boss/{{ opponent.replace(' ', '_') }}/n",
                type: "GET",
                success: function (data) {
                    console.log("success in updating match history");
                },
                error: function (data) {
                    console.log("error in updating match history");
                }
            });
        }
    }

</script>

</body>

</html>