<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

<header class="header_section header_transparent sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_header d-flex justify-content-between align-items-center">
                    <div class="header_logo">
                        <a class="sticky_none"><img aria-label="logo"
                                                    width="215" height="79"
                                                    src="{{ url_for('static', filename='img/logo/logo.webp') }}"
                                                    alt=""></a>
                    </div>
                    <div class="header_right_sidebar d-flex align-items-center">
                        <a class="btn btn-link" href="{{ url_for('BLP_general.battle') }}">QUIT BATTLE <img width="10"
                                                                                                            height="10"
                                                                                                            src="{{ url_for('static', filename='img/icon/arrrow-icon2.webp') }}"
                                                                                                            alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- page wrapper start -->
<div class="page_wrapper">

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg mb-10" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>Battle {{ opponent }}</h1>
                        <ul class="d-flex justify-content-center">
                            <li>Start the battle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->

    <!--match details section area start-->
    <section class="match_details_section mb-125">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="match_details_inner">
                        <div class="team_players_area">
                            <div class="team_players_list">
                                <div class="team_players_title">
                                    <h2>YOU</h2>
                                </div>
                                <div class="team_players_inner slick__activation" data-slick='{
                                        "slidesToShow": 6
                                    }'>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                    <div class="single_players">
                                        <div class="players_thumb">
                                            <a href="#"><img width="170" height="170"
                                                             src="{{ url_for('static', filename='img/others/players1.webp') }}"
                                                             alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team_players_list">
                                <div class="team_players_title">
                                    <h2>{{ opponent }}</h2>
                                </div>
                                <div class="team_players_inner slick__activation" data-slick='{
                                        "slidesToShow": 6
                                    }'>
                                    {% for b in boss_info %}
                                        <div class="single_players">
                                            <div class="players_thumb">
                                                <a href="#"><img width="170" height="170"
                                                                 src="{{ url_for('static', filename=b["img_path"]) }}"
                                                                 alt=""></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--match details section area end-->


</div>
<!-- page wrapper end -->

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>