<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

    {% include 'includes/navbar.html' %}

    <!-- page wrapper start -->
    <div class="page_wrapper">

        <!--slide banner section start-->
        <section class="hero_banner_section d-flex align-items-center mb-100" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">
            <div class="container">
                <div class="hero_banner_inner">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="hero_content">
                                <h1 class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">Bonx Monsters</h1>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">Get monsters and battle with them </p>
                                <a class="btn btn-link wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s" href="{{ url_for('BLP_general.battle') }}">Play Now</a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="hero_position_img">
                <img class="object_moving" width="926" height="772" src="{{ url_for('static', filename='img/bg/bonx_bg_monsters.webp') }}" alt="">
            </div>
        </section>
        <!--slider area end-->

    </div>
    <!-- page wrapper end -->

    <!-- Footer -->
    {% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>