<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

    {% include 'includes/navbar.html' %}

<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-100" data-bgimg="{{ url_for('static', filename='img/bg/breadcrumbs-bg.webp') }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text text-center">
                    <h1>10 last games</h1>
                    <ul class="d-flex justify-content-center">
                        <li><a href="{{ url_for('BLP_general.home') }}">Home </a></li>
                        <li> <span>//</span></li>
                        <li>  match</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->

<!-- page wrapper start -->
<div class="page_wrapper">

     <!-- upcoming gaming section start -->
    <section class="upcoming_gaming_section mb-125">
        <div class="container">
            <div class="upcoming_gaming_inner">
                {% for games, oppo, type_oppo in zip(games_history, opponents, type_of_opponent) %}
                <div class="upcoming_gaming_list wow fadeInUp d-flex justify-content-between align-items-center mb-30" data-wow-delay="0.1s" data-wow-duration="1.1s">
                    <div class="upcoming_gaming_text">
                        <p>{% if games.win == "y" %}Victory {% else %}Lose{% endif %}</p>
                        <h3>Game {% if type_oppo == "dungeon" %}in{% else %}against{% endif %} {{games.opponent}}</h3>
                        <span>{{ games.reward_coin }} coins earned - <b>{% if games.win == "y" %}{{games.reward_monster_amount}} {{games.reward_monster_name }} cards won{% else %}0 cards won{% endif %}</b></span>
                    </div>
                    <div class="upcoming_gaming_thumb d-flex align-items-center">
                        <div class="single_upcoming_thumb">
                            <img width="100" height="100" src="{{ url_for('static', filename='monsters_pack_1/pipo-enemy018b.png') }}" alt="">
                        </div>
                        <div class="single_upcoming_thumb">
                            <img width="40" height="40" src="{{ url_for('static', filename='img/others/game-vs2.webp') }}" alt="">
                        </div>
                        <div class="single_upcoming_thumb">
                            <img width="100" height="100" style="border-radius: 20px" src="{{ url_for('static', filename=oppo["img_path"]) }}" alt="">
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- upcoming gaming section end -->

</div>
<!-- page wrapper end -->


    <!-- Footer -->
    {% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>