<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

{% include 'includes/navbar.html' %}

<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-140"
     data-bgimg="{{ url_for('static', filename='img/bg/breadcrumbs-bg.webp') }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text text-center">
                    <h1>player Details</h1>
                    <ul class="d-flex justify-content-center">
                        <li><a href="{{ url_for('BLP_general.home') }}">Home </a></li>
                        <li><span>//</span></li>
                        <li> Player Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->

<!-- page wrapper start -->
<div class="page_wrapper">
    <!-- player list section start -->
    <section class="player_details_section mb-125">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-player-details">
                        <div class="side__left">
                            <div class="image">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='monsters_pack_1/pipo-enemy018b.png') }}"
                                     alt="">
                            </div>

                            <div class="player-profile">
                                <h4 class="title">{{ user.name }}</h4>
                                <h5 class="level-text">LEVEL {{ int(user.power/3000) }}</h5>
                                <div class="content-shape-img">
                                    <img width="351" height="126"
                                         src="{{ url_for('static', filename='img/others/tam-text-shape2.webp') }}"
                                         alt="">
                                </div>
                            </div>
                        </div>

                        <div class="side__right">
                            <div class="content">
                                <span class="title-tag">PLAYER PROFILE</span>
                                <h4 class="title">Bonx history</h4>
                                <p>Step into a world of mythic creatures and epic battles in this monster combat game.
                                    For ages untold, these monsters have ruled the darkest and most mysterious realms,
                                    fighting for power and supremacy. Become the master of your own monster and engage
                                    in intense battles to win legendary rewards and increase your prestige in the world
                                    of monsters. </p>
                                <p>Join a community of players from around the world and test your
                                    strategic skills to conquer all the challenges that lie in your path. Get ready to
                                    face formidable opponents and explore a fantastical world filled with magic, danger,
                                    and adventure.</p>

                            </div>
                        </div>

                        <div class="mascot-logo">
                            <img class="img-fluid" width="401" height="458"
                                 src="{{ url_for('static', filename='img/others/player-bg-maskot.webp') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- player list section end -->


    <!-- counterup section start -->
    <section class="counterup_section mb-140 wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counterup_inner d-flex justify-content-center">
                        <div class="single_counterup one">
                            <div class="counterup_text">
                                <h2 class="color1">{{ user.coins }}</h2>
                                <span>COINS</span>
                            </div>
                        </div>
                        <div class="single_counterup three">
                            <div class="counterup_text">
                                <h2 class="color3">{{ len(monsters) }}</h2>
                                <span>TOTAL MONSTERS</span>
                            </div>
                        </div>
                        <div class="single_counterup two">
                            <div class="counterup_text">
                                <h2 class="color2">{{ user.nb_games }}</h2>
                                <span>TOTAL GAMES</span>
                            </div>
                        </div>
                        <div class="single_counterup four">
                            <div class="counterup_text">
                                <h2 class="color4">{{ user.nb_wins }}</h2>
                                <span>TOTAL WINS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counterup section end -->

    <!-- player list section start -->
    <section class="player_list_section mb-150">
        <div class="container">
            <div class="row mb-n50">
                <div class="row text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">inventory</h2>
                </div>
                <!-- cards -->
                {% for m in monsters %}
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item">
                            <div class="top">
                                <a class="image">
                                    <img class="object_moving" src="{{ url_for('static', filename=m.img_path) }}"
                                         height="480" width="480"
                                         alt="">
                                </a>
                                <div class="overlay">
                                    <div>
                                        <a target="_blank"
                                           href="{{ url_for('BLP_general.monster_details', name_monster=m.name) }}">{{ m.amount }}
                                            {% if m.amount == 1 %}
                                                card {% else %} cards {% endif %}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a
                                        href="{{ url_for('BLP_general.monster_details', name_monster=m.name) }}">{{ m.name }}</a>
                                </h4>
                                <h5 class="level-text">LEVEL {{ m.level }}</h5>
                                <h6 class="level-text">{{ m.rarity }}</h6>

                                <div class="content-shape-img">
                                    <img width="351" height="126"
                                         src="{{ url_for('static', filename='img/others/tam-text-shape.webp') }}"
                                         alt="">
                                    <img width="351" height="126"
                                         src="{{ url_for('static', filename='img/others/tam-text-shape2.webp') }}"
                                         alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- player list section end -->

</div>
<!-- page wrapper end -->

<!-- Footer -->
{% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>