<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="assets/img/bg/body-bg.webp">

    {% include 'includes/navbar.html' %}

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg mb-140" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>player Details</h1>
                        <ul class="d-flex justify-content-center">
                            <li><a href="{{ url_for('BLP_general.home') }}">Home </a></li>
                            <li> <span>//</span></li>
                            <li> Player Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->

    <!-- page wrapper start -->
    <div class="page_wrapper">
        <!-- player list section start -->
        <section class="player_details_section mb-125">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-player-details">
                            <div class="side__left">
                                <div class="image">
                                    <img class="img-fluid" src="assets/img/player/details/player-details-img.webp" alt="">
                                </div>
                                
                                <div class="player-profile">
                                    <h4 class="title">{{ user.name }}</h4>
                                    <h5 class="level-text">{{ user.level }} LEVEL COMPLETED</h5>
                                    <div class="content-shape-img">
                                        <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="side__right">
                                <div class="content">
                                    <span class="title-tag">PLAYER PROFILE</span>
                                    <h4 class="title">Bonx history</h4>
                                    <p>It is a long established fact that a reader will be distracted
                                        readable content page when looking at it layout the point using
                                        lorem Ipsum that it has more-or-less normal distribution lette
                                        desktop packages and web page now editors.</p>
                                    <p>It is a long established fact that and reader will been distracted
                                        readable content page when looking at it layout the point using
                                        desktop packages and web page now editors.</p>
                                    
                                </div>
                            </div>
                            
                            <div class="mascot-logo">
                                <img class="img-fluid" width="401" height="458" src="assets/img/others/player-bg-maskot.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- player list section end -->


                <!-- counterup section start -->
                <section class="counterup_section mb-115 wow fadeInUp">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="counterup_inner d-flex justify-content-center">
                                    <div class="single_counterup one">
                                        <div class="counterup_text">
                                            <h2 class="counterup color1">{{ user.level }}</h2>
                                            <span>LEVEL</span>
                                        </div>
                                    </div>
                                    <div class="single_counterup three">
                                        <div class="counterup_text">
                                            <h2 class="counterup color3">77</h2>
                                            <span>TOTAL MONSTERS</span>
                                        </div>
                                    </div>
                                    <div class="single_counterup two">
                                        <div class="counterup_text">
                                            <h2 class="counterup color2">281</h2>
                                            <span>TOTAL GAMES</span>
                                        </div>
                                    </div>
                                    <div class="single_counterup four">
                                        <div class="counterup_text">
                                            <h2 class="counterup color4">249</h2>
                                            <span>TOTAL WINS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- counterup section end -->


        <!-- player list section start -->
        <section class="player_list_section mb-150">
            <div class="container">
                <div class="row mb-n50">
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1.1s">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-1.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">THUNDERMAN</a></h4>
                                <h5 class="level-text">40 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.1s">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-2.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">LION KING</a></h4>
                                <h5 class="level-text">36 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-50"> 
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.3s" data-wow-duration="1.1s">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-3.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">WOLF SMART</a></h4>
                                <h5 class="level-text">40 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="1.1s">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-4.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">JOHNNYBRAVO</a></h4>
                                <h5 class="level-text">90 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.1s">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-5.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">GAMER_XBOY</a></h4>
                                <h5 class="level-text">75 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <!--  Single Player List Start-->
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.1">
                            <div class="top">
                                <a class="image" href=""><img src="assets/img/player/list/player-6.webp" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><i class="icofont-twitch"></i></a> 
                                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-youtube-play"></i></a> 
                                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-twitter"></i></a> 
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="icofont-facebook"></i></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="player-details.html">WARRIOR-782</a></h4>
                                <h5 class="level-text">102 LEVEL COMPLETED</h5>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp" alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp" alt="">
                                </div>
                            </div>

                        </div>
                        <!--  Single Player List End-->
                    </div>
                </div>
            </div>
        </section>
        <!-- player list section end -->

    </div>
    <!-- page wrapper end -->

    <!-- Footer -->
    {% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}


</body>

</html>