<!doctype html>
<html class="no-js" lang="en">

<!-- Head -->
{% include 'includes/head_page.html' %}

<body class="body__bg" data-bgimg="{{ url_for('static', filename='img/bg/body-bg.webp') }}">

{% include 'includes/navbar.html' %}

<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-15" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text text-center">
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->

<!-- page wrapper start -->
<div class="page_wrapper">

    <!--match details section area start-->
    <section class="match_details_section mb-125">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="match_details_inner">
                        <div class="match_details_content">
                            <span class="date">Last update : <b id="display_last_update_shop"></b></span>
                            <h2 class="match_details_title">Buy new monsters</h2>
                            <div class="match_details_desc">
                                <p>Welcome to the Monster Shop, where you can find the most amazing creatures to add to
                                    your collection! Our shop is the perfect place to find new and exotic monsters to
                                    train and battle with. It's important to note that our shop is reset every day, so
                                    be sure to check back
                                    often to see what new monsters are available. Don't miss out on the chance to add
                                    rare and powerful monsters to your team!</p>
                                <p class="text_italic">You have
                                    <b id="display_coins_shop"></b>
                                    coins</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="player_list_section mb-125">
        <div class="container">
            <div class="row mb-n50">
                {% for monster in shop_monsters %}
                    <!--  Single monster in shop List Start-->
                    <div class="col-lg-4 col-md-6 col-12 mb-50">
                        <div class="player_list_single_item wow fadeInLeft" data-wow-delay="0.1s"
                             data-wow-duration="1.1s">
                            <div class="top mb-30">
                                <a class="image" href=""><img
                                        src="{{ url_for('static', filename=monster.monster_img_path) }}" alt=""></a>
                                <div class="overlay">
                                    <div class="social-link">
                                        <a rel="noopener noreferrer"><i class="icofont-money-bag"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a
                                        href="{{ url_for('BLP_general.monster_details_inventory', name_monster=monster.monster_name) }}">{{ monster.monster_name }}</a>
                                </h4>
                                <h5 class="level-text">{{ monster.monster_rarity }}
                                    - {{ GameConfig.SHOP_CONFIG[monster.monster_rarity]["Price"] }}
                                    Coins</h5>
                                <p>Bought <b id="number_bought_{{ monster.monster_name.replace(" ", "_") }}">
                                </b>/{{ GameConfig.SHOP_CONFIG[monster.monster_rarity]["Max_per_day"] }}</p>

                                <div class="content-shape-img">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape.webp"
                                         alt="">
                                    <img width="351" height="126" src="assets/img/others/tam-text-shape2.webp"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Single monster shop List End-->
                {% endfor %}
            </div>
        </div>

    </section>
    <!--match details section area end-->

</div>
<!-- page wrapper end -->

<!-- Footer -->
{% include 'includes/footer_page.html' %}

<!-- JS -->
{% include 'includes/JS_src.html' %}

<script>
    // get user coins
    $(document).ready(function () {
        $.ajax({
            url: "/api/get_user_coins",
            type: "GET",
            success: function (data) {
                $("#display_coins_shop").html(data["coins"]);
            }
        });
    });
    // get last update shop
    $(document).ready(function () {
        $.ajax({
            url: "/api/get_last_update_shop",
            type: "GET",
            success: function (data) {
                // display only the day, not the hour
                const lst_date = data["last_update_shop"].split(" ");
                let dateOnly = lst_date[0] + " " + lst_date[1] + " " + lst_date[2] + " " + lst_date[3];
                $("#display_last_update_shop").html(dateOnly);
            }
        });
    });

    // create a function that return the response of "/api/get_number_bought_monster/<string:name>/" in the html
    function get_number_bought_monster(name) {
        // replace space by underscore
        $.ajax({
            url: "/api/get_number_bought_monster/" + name + "/",
            type: "GET",
            success: function (data) {
                $("#number_bought_" + name).html(data["number_bought"]);
            }
        });
    }

    {% for monster in shop_monsters %}
        get_number_bought_monster("{{ monster.monster_name.replace(" ", "_") }}");
    {% endfor %}

</script>


</body>

</html>